<div class="product-list">
  <div class="product-card">
    <img class="product-img" src="/{{thumbnail}}" />
    <div>
      <p class="video-title">
        <a class="video-link" href="/posts/{{id}}">{{title}}</a>
      </p>

      <p class="video-description">{{description}}</p>

    </div>
  </div>
</div>